<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gguzzardi.it_accelerator_recyclerview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.activities.LoginActivity"
            android:noHistory="true"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop">
            <intent-filter android:label="@string/filter_view_http">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.mercadolibre.com//sites/MLA/search?q=” -->
                <data android:scheme="http"
                    android:host="www.mercadolibre.com"
                    android:pathPrefix="/sites/MLA/search" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
            <intent-filter android:label="@string/filter_view_meli">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://” -->
                <data android:scheme="meli"
                    android:host="search"/>
            </intent-filter>


        </activity>

        <activity
            android:name=".views.activities.ItemDetailsActivity"
            android:label="@string/title_activity_item_details"
            android:parentActivityName=".views.activities.MainActivity" >
        </activity>
    </application>

</manifest>